<h1>Add Place</h1>

<form action="/place/add" method="post">
  <label>Nombre:</label>
  <input type="text" name="name"><br>

  <label>Type:</label>
  <select name="type">
    <option value="coffee shop">coffee shop</option>
    <option value="bookstore">bookstore</option>
  </select>
  <br>
  <button type="submit">Add</button>
  <button type="reset">Clear</button>
</form>